﻿@{
    ViewBag.Title = "About Transport.WebPorter";
    ViewBag.Message = "Transport.WebPorter Transport Viewer and Interface";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>View active transports, assignments and movement. Dispatch and monitor transports to passengers.</p>
