﻿@{
    ViewBag.Title = "Contact Transport.WebPorter Dev Team";
    ViewBag.Message = "If you like this page and have ideas, contact:";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    David Boarman<br />
    3413 Willow Tree Court<br />
    Oceanside, CA  92058<br />
    <abbr title="Phone">P:</abbr>
    760.453.7988
</address>

<address>
    <strong>Developer:</strong>   <a href="mailto:david@boarman.net">David Boarman</a>
</address>