﻿@{
    ViewBag.Title = "Transport.WebPorter City Map";
}
@model Transport.WebPorter.Models.ClientModel

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/Scripts/socketlistener.js"></script>

<script type="text/javascript">
    var $body = null;
    var $jumboTron = null;
    var $mapViewPort = null;
    var $mapImage = null;
    var $startSim = null;
    var $messageBox = null;
    var $car = null;

    var carViewPorts = [];
    var timerHandle = null;
    var client = {
        'id': @Model.Id,
        'ip': "",
        'port': -1
    }
    var car = {};
    var city = {
        'map': "",
        'cars': null
    };

    var webSock = null;

    $(document).ready(function () {
        $body = $("body");
        $jumboTron = $(".jumbotron");
        $startSim = $("#startsim");
        $messageBox = $("#updatemessages");
        $car = function() {
            return $("<img src='../../Images/car_small.png'/>");   
        };

        $mapViewPort = $("<div class='map-viewport' />");
        
        webSock = new SocketListener();
        webSock.getClientIp(registerClient);
        timerHandle = setInterval(pollServer, 2000);

        $startSim.on("click", function(){
            $.get("@Url.Action("StartSimulation", "Home")", client, function(results) {
                console.log("simulation started: " + results.success);
            });
        });
    });

    function registerClient(clientIp) {
        client.ip = clientIp;

        $.get("@Url.Action("RegisterClient", "Home")", client, function (results) {
            console.log("received port assignment: " + results.socketport);

            client.port = results.socketport;
            getMapImage();

        });
    }

    function getMapImage() {
        $.get("@Url.Action("GetMapImage", "Home")", {ip: client.ip}, function (results) {
            console.log("received image file: " + results.imagefile);
            city.map = results.map;

            $mapImage = $("<img class='map'/>");
            $mapImage.prop("src", "../../Images/Maps/" + city.map.imagefile);
            $mapViewPort.css({
                'width': city.map.width,
                'height': city.map.height
            });

            $mapViewPort.append($mapImage);
            $jumboTron.append($mapViewPort);
        });
    }

    function pollServer() {
        if (client.ip === "") {
            return;
        }

        $.get("@Url.Action("GetMapUpdate", "Home")", {ip: client.ip}, function (results) {
            if (results.update !== null){
                
                car = results.update.car;
                city.cars = results.update.city.cars;

                console.log(results.update);
                $messageBox.text(results.update.message);
            } else {
                city.cars = results.city.cars;
            }

            updateMap();
        });
    }

    function updateMap() {
        $.each(city.cars, function(i, c) {
            var index = -1;
            $.each(carViewPorts, function(i, $cvp) {
                if ($cvp.prop("id") == c.id) {
                    index = i;
                    return false;
                }
            });

            var $cvport = null;
            var left = (c.location.x - 1) * city.map.interval + $mapViewPort.offset().left;
            var top = (c.location.y - 1) * city.map.interval + $mapViewPort.offset().top + 3;

            if (index == -1) {
                //  create new view port

                $cvport = $("<div class='car-viewport' id='" + c.id + "' style='left: " + left + "px; top: " + top + "px;width: 25px;height: 15px;'></div>");
                $cvport.append($car());

                carViewPorts.push($cvport);
                $mapViewPort.append($cvport);
            } else {
                $cvport = carViewPorts[index];
                $cvport.css({
                    'left': left,
                    'top': top
                });
            }
        });
    };

</script>

<div class="jumbotron"></div>

<div class="row" style="border: 1px blue solid;">
    <table style="width: 100%;">
        <tr>
            <td style="vertical-align:top;width: auto;">
                <input type="button" id="startsim" value="Start Simulation" />
            </td>
            <td style="vertical-align:middle;width: 100%;">
                <label id="updatemessages" style="padding-left: 15px;width: 100%;height: 100%;font-family: Arial;font-size: 12px;color: red;"></label>
            </td>
        </tr>
    </table>
</div>